@model Clinic_Registry.ViewModels.AppointmentsListViewModel
@using System.Globalization;
@{
    ViewBag.Title = "AppointmentsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appointments</h2>

@Html.ActionLink("Make a new visit", "CreateNew", null, new { @class = "btn btn-primary" })

<p style="padding-top: 0.8em"></p>
<p style="padding-top: 0.8em"></p>

@using (Html.BeginForm("Index", "Appointments"))
{ 
    <div class="form-group">
    @Html.LabelFor(m => m.DateToDisplay)
    @Html.EditorFor(m => m.DateToDisplay, new { @class = "form-control", value = Model.DateToDisplay.ToString("yyyy/MM/dd", CultureInfo.GetCultureInfo("en-US")) })
        <button type="submit" class="btn btn-primary" style="display: inline">Display</button>
    </div>
    

}

<h3>Date: @Model.DateToDisplay.ToString("yyyy/MM/dd", CultureInfo.GetCultureInfo("en-US"))</h3>

<table id="appointments" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Patient</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < 8; i++)
        {
            <tr>
                <td style="font-weight: bold">Hour: @(8 + i):00</td>
            </tr>
            foreach (var appointment in Model.TempAppointmentsList)
            {
                if (appointment.Date.Hour == (8 + i))
                {
                    <tr>
                        <td>@appointment.Doctor.Name</td>
                        <td>@appointment.Patient.Name</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = appointment.Id, dateToDisplay = Model.DateToDisplay })</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>


@section scripts
    {
    <script>
        $(document).ready(function () {$("#appointments").DataTable();})
    </script>

}